<!-- wp:template-part {"slug":"header","theme":"nativepress-agency","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"nativepress/hero"} /-->
	<!-- wp:pattern {"slug":"nativepress/about"} /-->
	<!-- wp:pattern {"slug":"nativepress/services"} /-->
	<!-- wp:pattern {"slug":"nativepress/case-studies"} /-->
	<!-- wp:pattern {"slug":"nativepress/contact"} /-->
	<!-- wp:pattern {"slug":"nativepress/call-to-action"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"nativepress-agency","tagName":"footer"} /-->
