<!-- wp:template-part {"slug":"header","theme":"nativepress-agency","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"64px","bottom":"64px","left":"24px","right":"24px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:64px;padding-right:24px;padding-bottom:64px;padding-left:24px">
	<!-- wp:group {"layout":{"type":"constrained"},"style":{"spacing":{"blockGap":"24px"}}} -->
	<div class="wp-block-group">
		<!-- wp:post-title {"level":1,"fontSize":"xx-large"} /-->
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
		<!-- wp:pattern {"slug":"nativepress/contact"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"nativepress-agency","tagName":"footer"} /-->
